@import './common/common.scss';
@import './common/_mixin.scss';
.betscroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: auto;
}

dl {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: pxTorem(15px);
    background: #fff;
    color: #000;
    dt {
        width: 28%;
        height: auto;
        margin-left: 2%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    dd {
        width: 67%;
        margin-left: 3%;
        height: auto;
        h4 {
            font-size: pxTorem(20px)
        }
        li {
            width: 100%;
            font-size: pxTorem(15px);
            padding-top: pxTorem(10px);
            @include one-line;
            em {
                color: #ccc;
                margin-right: pxTorem(10px)
            }
            span {
                color: #f00;
            }
        }
    }
}